.topnav {
  background-color: #20c5baf2 !important;
  justify-content: center !important;
}

.item {
  color: white;
  margin: 5px 20px;
  font-weight: bold;
}

.item:hover {
  border-color: white;
  border-width: 0 0 2px 0;
  border-style: solid;
}

.selected {
  border-color: #0b3a42 !important;
  border-width: 0 0 2px 0;
  border-style: solid;
  color: #0b3a42;
}

.open-menu {
  width: 30px;
  height: 30px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .navbar {
    padding: 0 !important;
  }

  .item:hover {
    border-width: 0;
  }

  .topnav {
    justify-content: left !important;
  }
}
