.topnav {
  background-color: #20c5baf2 !important;
  position: fixed !important;
  width: 100%;
  z-index: 5;
  height: 60px;
  /* justify-content: center !important; */
  margin: 0 !important;
  padding: 0 !important;
  height: 60px;
}

.responsive-navbar-nav {
  justify-content: center !important;
  background-color: #20c5baf2 !important;
}

topnav:before {
  display: inline-block !important;
  vertical-align: middle !important;
  height: 100%;
}

.shadow {
  box-shadow: black;
}

.top {
  position: relative;
  top: 0 !important;
}

.item {
  color: white !important;
  margin: 5px 25px;
  padding: 0 !important;
  font-weight: bold;
}

.item:hover {
  color: white !important;
  text-decoration: none;
  border-color: white;
  border-width: 0 0 2px 0;
  border-style: solid;
}

.selected {
  border-color: #0b3a42 !important;
  border-width: 0 0 2px 0;
  border-style: solid;
  color: #0b3a42;
}

.open-menu {
  width: 30px;
  height: 30px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 770px) {
  .navbar {
    padding: 0 !important;
  }

  .item:hover {
    border-width: 0 !important;
  }

  .topnav {
    justify-content: left !important;
  }
}
