header {
  position: relative;
  height: 700px;
  min-height: 500px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #20c5baf2;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text {
  width: 100%;
}
header .banner-text h1 {
  font: 50px/1.1em "opensans-bold", sans-serif;
  font-weight: bold;
  color: #0b3a42;
  letter-spacing: -2px;
  margin: 20px auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

header .banner-text h3 {
  font: 28px/1.9em "librebaskerville-regular", serif;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

header .banner-text .profile {
  margin-top: 100px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: initial;
  padding: 2px;
  border-width: 7px;
  border-color: #0b3a42;
  border-style: solid;
  background-color: white;
}

header .social li {
  display: inline-block;
  margin: 24px 0;
  margin-right: 25px;
  padding: 0;
}
header .social li a img {
  width: 35px;
  height: 35px;
}

header .social li a img:hover {
  background-color: #0b3a42;
  border-radius: 100%;
}

/* header .social li a:hover {
  color: #11abb0;
  fill: #fff;
} */

body {
  display: flex;
  justify-content: center;
  align-items: top;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
}

header {
  justify-content: center;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  left: 50%;
  margin-left: -5px;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  header .banner-text h1 {
    font: 35px/1.1em "opensans-bold", sans-serif;
  }
  header .banner-text h3 {
    font: 22px/1.9em "librebaskerville-regular", serif;
  }
  header .banner-text .profile {
    width: 150px;
    height: 150px;
    border-width: 5px;
  }
}
